/.bundle/
/.yardoc
/Gemfile.lock
/gemfiles/*.gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/log/
/spec/dummy/log/
/spec/dummy/tmp/
/spec/dummy/storage/
*.gem
.rspec_status
.idea/
